# Titulo 1
###### Titulo 6
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [1]:
print('Hola Mundo')

Hola Mundo

In [4]:
# No tipodo
# Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Vicente"
apellido= 'Eguez'
segundo_nombre = "Adrian" #segundoNombre esta mal no camelcase
casado = False
profesor = True
hijos = None

print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(apellido))
print(type(segundo_nombre))
print(type(casado))
print(type(profesor))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [4]:
cadena_de_texto = """
This is intended as a quick reference and showcase. For more complete info, see John Gruber's original spec and the Github-flavored Markdown info page.

Note that there is also a Cheatsheet specific to Markdown Here if that's what you're looking for. You can also check out more Markdown tools.

Table of Contents
"""

print(cadena_de_texto)

This is intended as a quick reference and showcase. For more complete info, see John Gruber's original spec and the Github-flavored Markdown info page.

Note that there is also a Cheatsheet specific to Markdown Here if that's what you're looking for. You can also check out more Markdown tools.

Table of Contents

In [9]:

print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Vicente

In [14]:
# Condiciones
# Truty - Falsy

tuplas = (1,2,3) #Arreglos que no se pueden modificar
listas = [4,5,6] #Arreglos que se pueden modificar
diccionario = {
    "nombre": "Josue"
}
if('Josue'): #Truty
    #...
    #...
    print('Truty')
else:
    # ...
    # ...
    print('Falsy')
    
if(''): #Truty
    print('Truty')
else:
    print('Falsy')

nulo = None
if(nulo): #Truty
    print('Truty')
else:
    print('Falsy')
if(1):
    print('Truty')
else:
    print('Falsy')
if(0):
    print('Truty')
else:
    print('Falsy')
if(-1):
    print('Truty')
else:
    print('Falsy')
    
if(-1.1):
    print('Truty')
else:
    print('Falsy')
if(1.2):
    print('Truty')
else:
    print('Falsy')
if(()):
    print('Truty')
else:
    print('Falsy')
if((1,2,3)):
    print('Truty')
else:
    print('Falsy')
    
if([]):
    print('Truty')
else:
    print('Falsy')
if([1,2,3]):
    print('Truty')
else:
    print('Falsy')
if({}):
    print('Truty')
else:
    print('Falsy')
if({nombre: "Josue"}):
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [16]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
arreglo[0:3] #[0,3[ 
arreglo[5:] #Hasta el final
arreglo[:7] #Desde el inicio
arreglo[-10] #negativo empieza desde el final
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:] #clonear el arreglo

arregloTupla = (1,2,3,4,5,6,7,8,9,10)

arregloTupla[5:9]

(6, 7, 8, 9)

In [40]:
diccionario = {
    "nombre":"Josue",
    "apellido":"Diaz",
    "sueldo": 1.2
}
diccionario["sueldo"]

1.2

In [48]:
10 in arregloTupla

False

In [45]:
print(type(12 in arreglo))

<class 'bool'>

In [49]:
len(arreglo)
len(arregloTupla)
len(diccionario)

3

In [52]:
"Josue" in diccionario

False

In [54]:
for numeroLista in arreglo:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [56]:
for info in diccionario:
    print(info)

nombre
apellido
sueldo

In [60]:
contador = 0
while contador< 10:
    print(contador)
    contador+=1

0
1
2
3
4
5
6
7
8
9

In [62]:
josue = {
    True: "Josue",
    False: "Diaz",
    1: 12.2,
    1.1: 89,
    'edad': 26,
    "mascotas": [{"nombre":"flash"}],
    None: None
}

In [70]:
josue["mascotas"]

[{'nombre': 'flash'}]

In [73]:
josue['edad']= 28
josue['apellido']='Diaz'
josue['mascotas'][0]['nombre']= 'Panda'

In [76]:
josue

{True: 12.2,
 False: 'Diaz',
 1.1: 89,
 'edad': 28,
 'mascotas': [{'nombre': 'Panda'}],
 'apellido': 'Diaz'}

In [78]:
josue.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', 'apellido'])

In [80]:
josue.values()

dict_values([12.2, 'Diaz', 89, 28, [{'nombre': 'Panda'}], 'Diaz'])

In [84]:
print(type(josue.keys()))

<class 'dict_keys'>

In [86]:
print(type(josue.values()))

<class 'dict_values'>

In [88]:
for llave in josue.keys():
    print(llave)

True
False
1.1
edad
mascotas
apellido

In [90]:
for valor in josue.values():
        print(valor)

12.2
Diaz
89
28
[{'nombre': 'Panda'}]
Diaz

In [92]:
1 == 1 or 2 == 2
1 != 1 and 2 != 2

False